/* global styles */
html {
    font-size: 16px;
}

/* Desktop styles */
@media only screen and (min-width: 480px) {

        /* hide mobile header */

        .mobile-header-container {
            display: none;
        }

        /* Style desktop header */

        .desktop-header-container {
            display: flexbox;
            height: 4rem;
        }
    
}



/* Mobile Styles */

@media only screen and (max-width: 480px) {

        /* hide desktop header */

        .desktop-header-container {
            display: none;

        }

        /* style mobile header */

        .mobile-header-container {
            display: flex;
            
            justify-content: space-around;
            height: 4rem;
        }

        .logo-icon-container {
            height: 2rem;
            display: inline-flex;
        }

        .campus-icon-container {
            height: 2rem;
            display: inline-flex;
        }

        .online-icon-container {
            height: 2rem;
            display: inline-flex;
        }

        .login-icon-container {
            height: 2rem;
            display: inline-flex;
        }
    }