/* global styles */
html {
    font-size: 16px;
}

h2 {
    font-size: 2rem;
    text-transform: capitalize;
}

h3 {
    font-size: 1.5rem;
    text-transform: capitalize;
}

h4 {
    font-size: 1rem;
}

p {
    font-size: 1rem;
}

a {
    text-decoration: none;
}

/* Desktop styles */
@media only screen and (min-width: 480px) {

        /* hide mobile sections of code */

        .mobile-header-container, 
        .mobile-information,
        .mobile-courses-section {
            display: none;
        }

        /* Style desktop header */

        .desktop-header-container {
            display: flex;
            width: 100%;
            height: 4rem;
            justify-content: space-around;
          
          
        }

        .desktop-header-container .logo-icon-container {
            display: inline-flex;
            align-items: center;
            margin-left: 1.5rem;
            
        }
        
        .academy {
            color: gray;
        }


        .desktop-header-container .logo-icon-container span {
            align-items: center;
            font-size: 1.25rem;
        }

        .desktop-header-container .nav {
            display: inline-flex;
            align-items: center;
            margin-right: 1.5rem;
        }

        .desktop-header-container .nav a {
            font-size: 1.25rem;
            padding: .5rem;
            color: gray;
        }

        /* learning section styles */

        /* gray box*/
        .learning {
            display: flex;
            width: 100%;
            background-color: lightgray;
        }

        /*large photo on left*/
        /*should control two photos in two sections*/
        .large-photo-container {
            display: inline-flex;
            width: 60%;
            padding: 2rem 2rem;
        }

        .large-photo-container img {
            object-fit: fill;
            width: 100%;
            align-self: center;
        }

        /*text and button side*/
        .learning-text-container {
            display: inline-flex;
            width: 40%;
            flex-direction: column;
            align-items: center;
            padding: 2rem;
            justify-content: space-around;
        }

        .learning-text-container .start-button {
            background-color: darkgray;
            width: 80%;
            text-align: center;
            padding: .5rem;
        }

        .learning-text-container .start-button a {
            color: white;
            padding: .5rem;
        }

        /*information section styles*/
        .desktop-information {
            display: flex;
            width: 100%;
        }

        /* left side of information section*/
        .desktop-information .left-side-container {
            display: inline-flex;
            flex-direction: column;
            width: 60%;
            align-content: center;
            justify-content: center;
        }

        .desktop-information .left-side-container .left-side-text-container {
            display: inline-flex;
            flex-direction: column;
            padding-left: 1.5rem;
        }

        .desktop-information .left-side-container .large-photo-container {
            width: 85%;
        }

        /* right side of information section*/
        .desktop-information .right-side-container {
            display: flex;
            flex-direction: column;
            width: 40%;
        }

        .desktop-information .right-side-container .right-side-container-contents {
            display: flex;
            flex-direction: row;
            overflow: scroll;
        }

        .contents-photo-container {
            display: flex;
            width: 35%;
            height: auto;
            padding: 1rem;
        }

        .contents-text-container {
            display: inline-flex;
            flex-direction: column;
            
            width: 65%;
            height: 80%;
            padding: 1rem;
        }


        .contents-photo-container img {
            object-fit: fill;
            width: 100%;
            align-self: center;
        }

        /* Courses Section*/

        .desktop-courses-section {
            display: flex;
            text-align: center;
            flex-direction: column;
        }

        .course-list-container {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            padding-left: 4.5rem;
            padding-right: 4.5rem;
        }

        .course-container {
            display: inline-flex;
            flex-direction: column;
            text-align: left;
            width: 30%;
            padding: 1rem;
        }

        .course-photo-container {
            display: flex;
        }

        .course-photo-container img {
            object-fit: fill;
            width: 100%;
            align-self: center;
        }

}


/* Mobile Styles */

@media only screen and (max-width: 480px) {

        /* hide desktop versions of code or sections coded just for desktop viewing */

        .desktop-header-container, 
        .desktop-information,
        .desktop-courses-section {
            display: none;

        }

        /* style mobile header */

        .mobile-header-container {
            display: flex;
            align-content: center;
            justify-content: space-around;
            height: 4rem;
        }

        .mobile-header-container 
            .logo-icon-container {
                height: 2rem;
                display: inline-flex;
        }

        .campus-icon-container {
            height: 2rem;
            display: inline-flex;
        }

        .online-icon-container {
            height: 2rem;
            display: inline-flex;
        }

        .login-icon-container {
            height: 2rem;
            display: inline-flex;
        }

        /*stlye mobile learning section*/

        /*gray box*/
        .learning {
            display: flex;
            flex-direction: column;
            background-color: lightgray;
            width: 100%;
        }

        /*photo*/
        .large-photo-container {
            display: inline-flex;
            width: 100%;
        }

        .large-photo-container img {
            object-fit: fill;
            width: 100%;
        }

        /*text section*/
        .learning-text-container {
            display: inline-flex;
            flex-direction: column;
            padding: 2rem 1rem;
        }

        /*start here button*/
        .learning-text-container .start-button {
            background-color: darkgray;
            width: 85%;
            text-align: center;
            padding: .5rem;
        }

        .learning-text-container .start-button a {
            color: white;
        }

        /*mobile information section styles*/
        .mobile-information {
            width: 100%;
            display: inline-flex;
            flex-direction: column;
        }

        .mobile-information-contents {
            display: inline-flex;
            flex-direction: column;
            width: 100%;
            align-content: center;
            justify-content: center;
            padding-top: 2rem;
            padding-bottom: 2rem;
        }
        /*mobile information section phote styles*/
        .mobile-information-contents-photo-container {
            display: inline-flex;
            width: 100%;
        }

        .mobile-information-contents-photo-container img {
            object-fit: fill;
            width: 100%;
            align-self: center;
        }

        /* mobile information section text container styles*/
        .mobile-information-contents-text-container {
            display: inline-flex;
            flex-direction: column;
            padding-bottom: 2rem;
            padding-left: 1rem;
        }

        /* Mobile Courses Section*/
        .mobile-courses-section {
            display: flex;
            flex-direction: column;
            margin-top: 2rem;
        }

        .mobile-course-header-text {
            text-align: center;
        }

        .mobile-couse-list {
            margin-top: 1.5rem;
        }

        .mobile-course-box {
            background-color: lightgray;
            margin: .5rem;
            padding: 1rem;

        }

        .mobile-course-box a {
            padding: 1rem;
            color: black;
            font-size: 1.5rem;
        }
}